extends layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") ProjectName
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") Home
  div(ng-view)
