.container
    .jumbotron
        h1 {{ myVar }}
        p "China has been committed to providing more public products and services to navigation in the South China Sea. It is beneficial to the trade of coastal countries in the region and even some countries outside the region," Foreign Ministry spokesman Lu Kang told a regular news briefing.

    .row
        .col-md-6
            div | this is a text placeholder
        .col-md-6
            div | this is a text placeholder two